# Compiled Object files
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib

# Executables
*.exe
*.out

# Build directories
build/
bin/
Debug/
Release/

# Visual Studio Code specific files
.vscode/
